# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Conda
.conda/

# ==========================
# Environment
# ==========================
.env

# ==========================
# VSCode
# ==========================
.vscode/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# YOLO Training
# ==========================
runs/
*.pt
*.pth
*.onnx
*.engine

# ==========================
# Dataset
# ==========================
data/images/
data/labels/
data/train/
data/valid/
data/test/

# ZIP files
*.zip

# ==========================
# Logs
# ==========================
*.log
logs/
ai_server/captures/*
!ai_server/captures/.gitkeep

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# 학습용 데이터셋, 테스트 이미지
data
!ai_server/data/
!ai_server/data/rag_indexes/
!ai_server/data/rag_indexes/**
